
@{
    ViewData["Title"] = "Sobre mí";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="p-3 mb-2 bg-secondary text-white">
<div class="text-center">
<div class="alert alert-secondary" role="alert">
  <h1>Datos personales</h1>
</div>
</div>


<div class="card text-white bg-dark mb-3" style="width: 20rem;">
  <img src="img/01.jpeg" class="card-img-top" alt="Mi imagen">
  <div class="card-body">
    <div class="text-left">
    <p class="card-text">
@model Persona


@Html.LabelFor(m=>m.name, "NOMBRE: ") @Model.name <br>
@Html.LabelFor(m=>m.lastname, "APELLIDO: ") @Model.lastname <br>
@Html.LabelFor(m=>m.years, "EDAD: ") @Model.years <br>
@Html.LabelFor(m=>m.email, "CORREO ELECTRÓNICO: ") @Model.email <br><br>
@Html.LabelFor(m=>m.tel, "TELÉFONO: ") @Model.tel <br>
@Html.LabelFor(m=>m.dir, "DIRECCIÓN: ") @Model.dir <br>
</p>
  </div>
  </div>
</div>
</div>

